body{
  background-color: lightgrey;
}
.card-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap:1rem;
}
.container{
  max-width: 900px;
  margin:1rem 2rem;
}
.card{
  display:flex;
  justify-content: center;
  position:relative;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 3px rgba(0,0,0,.3);
 
 
  transform: rotateY(var(--rotate-y,0)) translateY(var(--translate-y,0));;
  transform-style: preserve-3d;
  transition: 180ms;
  margin-top:3px;
 
  margin-bottom:10px;
}
.card:hover{
  cursor:pointer;
  box-shadow: 0 0 5px 3px rgba(0,0,0,.5);
  --translate-y:-4px;
}
.flip{
  --rotate-y:180deg;
}
.front,.back{
  position:absolute;
  padding:1rem;
  backface-visibility: hidden;
  
}

.back{
  transform: rotateY(180deg);
}
.front{
  left:0
}
.flashcard-options{
  margin-top:7px;
}
.flashcard-option{
  margin-top:3px;
  color:#333;
  font-size:13px;
}
.form-control{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  margin-bottom:.5em;
  width:100vw;
}

.form-group{
  margin-bottom: 0.5em;
  
}
.btn{
  background-color: black;
  color:white;
  transform: translateX(var(--translate-x,0));
}
.btn:hover{
  --translate-x:2px;
  
}